<div class="p-2 font-normal">
<%= link_to books_path do %>
  <div class="border border-slate-300 hover:border-indigo-300 p-2 w-max rounded-full justify-start space-x-2 place-items-center flex text-indigo-500/50 hover:text-indigo-600">
    <i class="fa-solid fa-circle-left"></i>
    <p class="flex-initial ">back</p>
  </div>
<% end %>
</div>
<div class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto bg-white shadow-xl rounded-lg text-gray-900">
  <div class="rounded-t-lg h-32 overflow-hidden">
    <img class="object-cover object-top w-full" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt='Mountain'>
  </div>
  <div class="mx-auto w-32 h-32 relative -mt-16 border-4 border-white rounded-full overflow-hidden">
    <img class="object-cover object-center h-32" src= <%=@current_user.profile_picture %>>
  </div>
  <div class="text-center mt-2">
    <h2 class="font-semibold"><%=@current_user.first_name %></h2>
    <p class="text-gray-500">Hi there, I love discovering new books ❤📚</p>
  </div>
  <ul class="py-4 mt-2 text-gray-700 flex items-center justify-around">
    <li class="flex flex-col items-center justify-around">
      <h2 class="w-4 fill-current text-indigo-500 text-xl font-bold"> <%= @pending_incoming_swaps_count %></h2>
      </h2>
      <div>To accept</div>
    </li>
    <li class="flex flex-col items-center justify-between">
      <h2 class="w-4 fill-current text-indigo-500 text-xl font-bold"> <%= @pending_requested_swaps_count %></h2>
      <div>Pending</div>
    </li>
    <li class="flex flex-col items-center justify-between">
      <h2 class="w-4 fill-current text-indigo-500 text-xl font-bold"> <%= @accepted_swaps.count %></h2>
      <div>To confirm</div>
    </li>
  </ul>
</div>

<div class="mx-12 mb-4">
  <div class="my-4">
    <div class="mx-auto py-2 w-4/5">
    <h2 class="text-2xl text-indigo-400">To accept (<%= @pending_incoming_swaps_count %>)</h2>
        <div class="grid sm:grid-cols-1 gap-4 lg:grid-cols-2">
              <div> <% @pending_incoming_swaps.each do |pending_incoming_swap| %>
                <div class="md:mt-8 flex flex-wrap blue-box relative text-lg p-4" style="cursor: auto;">
                  <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
                    <blockquote class="w-full sm:w-3/5 p-4" style="cursor: auto;">
                      <div class="flex justify-center mb-4 mt-1">
                        <img class="h-56 rounded-md" srcset="<%= pending_incoming_swap.book.cover %>" src="" alt="book cover">
                      </div>
                      <p class="mb-4">
                        <span class="text-primary-900"><%= pending_incoming_swap.book.title.truncate(17) %></span>
                      </p>
                      <div class="flex items-center">
                        <img class="w-10 mr-4 rounded-full bg-neutral-500" src= <%= pending_incoming_swap.user.profile_picture %>>
                        <div class="flex flex-col items-start">
                          <span class="mb-1 text-sm font-bold">Your book</span>
                        </div>
                      </div>
                    </blockquote>
                    <blockquote class="w-full sm:w-3/5 p-4" style="cursor: auto;">
                      <div class="flex justify-center mb-4 mt-1">
                        <%= link_to book_path(pending_incoming_swap.swapped_book_id) do %>
                          <%= image_tag pending_incoming_swap.swapped_book.cover, class: "h-56 rounded-md" %>
                        <% end %>
                      </div>
                      <p class="mb-4">
                        <span class="text-primary-900"><%= pending_incoming_swap.swapped_book.title.truncate(17) %></span>
                      </p>
                      <div class="flex items-center">
                        <%= link_to user_path(pending_incoming_swap.swapper_id) do %>
                          <%= image_tag pending_incoming_swap.swapper.profile_picture, class: "w-10 mr-4 rounded-full bg-neutral-500" %>
                        <% end %>
                        <div class="flex flex-col items-start">
                          <span class="mb-1 text-sm font-bold"><%= pending_incoming_swap.swapper.first_name %>'s book</span>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                </div>
              <div class="flex space-x-2 justify-center">
                <button
                  type="button"
                  data-mdb-ripple="true"
                  data-mdb-ripple-color="light"
                  class="inline-block px-6 py-2.5 mb-2 text-green-400 bg-white border border-green-400 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-400 hover:text-white hover:shadow-lg"><%=link_to "Accept",  swap_path(pending_incoming_swap, accepted: true), data: { confirm: "Congrats, The swap has been confirmed" }, method: :put %>
                </button>
                <button
                  type="button"
                  data-mdb-ripple="true"
                  data-mdb-ripple-color="light"
                  class="inline-block px-6 py-2.5 mb-2 text-red-400 bg-white border border-red-400 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-400 hover:text-white hover:shadow-lg"><%=link_to "Decline",  swap_path(pending_incoming_swap, accepted: false), data: { confirm: "Are you sure you want to decline this swap?" }, method: :put %>
                </button>
              </div>
              <% end %>
            </div>
          </div>
        </div>



  <h2 class="text-2xl text-indigo-400"> Swaps waiting for the swapper's confirmation (<%= @pending_requested_swaps_count %>)</h2>

    <%# <div class="container my-8 w-full"> %>
        <%# <div class="grid grid-cols-3 gap-4 md:grid-cols-2"> %>
          <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">
            <div class="inline-block px-3">
              <div> <% @pending_requested_swaps.each do |pending_requested_swap| %>
                <div class="md:mt-8 flex flex-wrap blue-box relative text-lg p-4" style="cursor: auto;">
                  <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
                    <blockquote class="w-full sm:w-3/5 p-4" style="cursor: auto;">
                      <div class="flex justify-center mb-4 mt-1">
                        <img class="h-56 rounded-md" srcset="<%= pending_requested_swap.swapped_book.cover %>" src="" alt="book cover">
                      </div>
                      <p class="mb-4">
                        <span class="text-primary-900"><%= pending_requested_swap.swapped_book.title.truncate(17) %></span>
                      </p>
                      <div class="flex items-center"> <img class="w-10 mr-4 rounded-full bg-neutral-500" src= <%= pending_requested_swap.swapper.profile_picture %>>
                        <div class="flex flex-col items-start">
                          <span class="mb-1 text-sm font-bold">Your book</span>
                        </div>
                      </div>
                    </blockquote>
                    <blockquote class="w-full sm:w-3/5 p-4" style="cursor: auto;">
                      <div class="flex justify-center mb-4 mt-1">
                        <%= link_to book_path(pending_requested_swap.book_id) do %>
                          <%= image_tag pending_requested_swap.book.cover, class: "h-56 rounded-md" %>
                        <% end %>
                      </div>
                      <p class="mb-4">
                        <span class="text-primary-900"></span> <%= pending_requested_swap.book.title.truncate(17) %>
                      </p>
                      <div class="flex items-center">
                        <%= link_to user_path(pending_requested_swap.user_id) do %>
                          <%= image_tag pending_requested_swap.user.profile_picture, class:"w-10 mr-4 rounded-full bg-neutral-500" %>
                        <% end %>
                        <div class="flex flex-col items-start">
                          <span class="mb-1 text-sm font-bold"><%= pending_requested_swap.user.first_name %>'s book</span>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                </div>
              <div class="flex space-x-2 justify-center">
                <button
                  class="inline-block px-6 py-2.5 mb-2 bg-yellow-400 text-white shadow-lg font-medium text-xs leading-tight uppercase rounded shadow-md"> Pending
                </button>
              </div>
              <% end %>
            </div>
          </div>
        </div>


  <h2 class="text-2xl text-indigo-400">Confirm my pickup! </h2>
    <%# <div class="container my-8 w-full"> %>
        <%# <div class="grid grid-cols-3 gap-4 md:grid-cols-2"> %>
          <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">
            <div class="inline-block px-3">
              <div> <% @accepted_swaps.each do |accepted_swap| %>
                <% if current_user == accepted_swap.swapper %>
                  <div class="md:mt-8 flex flex-wrap blue-box relative text-lg p-4" style="cursor: auto;">
                    <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
                      <blockquote class="w-full sm:w-3/5 p-4" style="cursor: auto;">
                        <div class="flex justify-center mb-4 mt-1">
                          <img class="h-56 rounded-md" srcset="<%= accepted_swap.swapped_book.cover %>" src="" alt="book cover">
                        </div>
                        <p class="mb-4">
                          <span class="text-primary-900"></span> <%= accepted_swap.swapped_book.title.truncate(17) %>
                          <span class="text-primary-900"></span>
                        </p>
                        <div class="flex items-center"> <img class="w-10 mr-4 rounded-full bg-neutral-500" src= <%= accepted_swap.swapper.profile_picture %>>
                          <div class="flex flex-col items-start">
                            <span class="mb-1 text-sm font-bold">Your book</span>
                          </div>
                        </div>
                      </blockquote>
                      <blockquote class="w-full sm:w-3/5 p-4" style="cursor: auto;">
                        <div class="flex justify-center mb-4 mt-1">
                        <%= link_to book_path(accepted_swap.book_id) do %>
                          <%= image_tag accepted_swap.book.cover, class:"h-56 rounded-md" %>
                        <% end %>
                        </div>
                        <p class="mb-4">
                          <span class="text-primary-900"></span> <%= accepted_swap.book.title.truncate(17) %>
                        </p>
                        <div class="flex items-center">
                        <%= link_to user_path(accepted_swap.user_id) do %>
                          <%= image_tag accepted_swap.user.profile_picture, class:"w-10 mr-4 rounded-full bg-neutral-500" %>
                        <% end %>
                          <div class="flex flex-col items-start">
                            <span class="mb-1 text-sm font-bold"><%= accepted_swap.user.first_name %>'s book</span>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                  </div>
                  <div class="flex space-x-2 justify-center">
                    <button
                      type="button"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="light"
                      class="inline-block px-6 py-2.5 mb-2 text-white bg-indigo-400 border border-indigo-400 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-white hover:text-indigo-400 hover:shadow-lg"> <%= link_to "Chat", chatroom_path(accepted_swap.chatroom) %>
                    </button>
                    <button
                        type="button"
                        data-mdb-ripple="true"
                        data-mdb-ripple-color="light"
                        class="inline-block px-6 py-2.5 mb-2 text-green-400 bg-white border border-green-400 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-400 hover:text-white hover:shadow-lg"><%= link_to "Confirm swap", current_user_swap_path(accepted_swap, confirmed: true), data: { confirm: "Cool! Let's chat with the swapper to decide on practical details!" },method: :put %>
                      </button>
                  </div>
                <% else %>
                <div class="md:mt-8 flex flex-wrap blue-box relative text-lg p-4" style="cursor: auto;">
                    <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
                      <blockquote class="w-full sm:w-3/5 p-4" style="cursor: auto;">
                        <div class="flex justify-center mb-4 mt-1">
                          <img class="h-56 rounded-md" srcset="<%= accepted_swap.book.cover %>" src="" alt="book cover">
                        </div>
                        <p class="mb-4">
                          <span class="text-primary-900"></span> <%= accepted_swap.book.title.truncate(17) %>
                          <span class="text-primary-900"></span>
                        </p>
                        <div class="flex items-center"> <img class="w-10 mr-4 rounded-full bg-neutral-500" src= <%= accepted_swap.user.profile_picture %>>
                          <div class="flex flex-col items-start">
                            <span class="mb-1 text-sm font-bold">Your book</span>
                          </div>
                        </div>
                      </blockquote>
                      <blockquote class="w-full sm:w-3/5 p-4" style="cursor: auto;">
                        <div class="flex justify-center mb-4 mt-1">
                        <%= link_to book_path(accepted_swap.swapped_book_id) do %>
                          <%= image_tag accepted_swap.swapped_book.cover, class:"h-56 rounded-md" %>
                        <% end %>
                        </div>
                        <p class="mb-4">
                          <span class="text-primary-900"></span> <%= accepted_swap.swapped_book.title.truncate(17) %>
                        </p>
                        <div class="flex items-center">
                        <%= link_to user_path(accepted_swap.swapper_id) do %>
                          <%= image_tag accepted_swap.swapper.profile_picture, class:"w-10 mr-4 rounded-full bg-neutral-500" %>
                        <% end %>
                          <div class="flex flex-col items-start">
                            <span class="mb-1 text-sm font-bold"><%= accepted_swap.swapper.first_name %>'s book</span>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                  </div>
                  <div class="flex space-x-2 justify-center">
                    <button
                      type="button"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="light"
                      class="inline-block px-6 py-2.5 mb-2 text-white bg-indigo-400 border border-indigo-400 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-white hover:text-indigo-400 hover:shadow-lg"> <%= link_to "Chat", chatroom_path(accepted_swap.chatroom) %>
                    </button>
                    <button
                        type="button"
                        data-mdb-ripple="true"
                        data-mdb-ripple-color="light"
                        class="inline-block px-6 py-2.5 mb-2 text-green-400 bg-white border border-green-400 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-400 hover:text-white hover:shadow-lg"><%= link_to "Confirm swap", current_user_swap_path(accepted_swap, confirmed: true), data: { confirm: "Cool! Let's chat with the swapper to decide on practical details!" },method: :put %>
                      </button>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
