<div class="m-16">
  <h2 class="text-3xl">My Books (<%= @my_books_count %>)</h2>
  <div class="my-16">
     <div class="mx-auto py-8 w-4/5">
      <div class="grid grid-cols-3 gap-4 md:grid-cols-2">
        <% @my_books.each do |book| %>
        <div class="flex mx-auto">
          <div class="w-1/2 flex ">
            <img class='w-full align-middle object-fit' src="<%= book.cover %>" alt="book cover">
          </div>
          <div class=" w-1/2 my-auto mx-4 leading-tight md:p-4">
            <h2 class="text-gray-600"><%=book.author %></h2>
            <h1 class="text-2xl bold-700"><%=link_to book.title, book_path(book) %></h1>
            <%# <h2 class="text-xl bold"><%=book.average_rating %></h2>
            <h2 class="text-gray-600 py-4"><%=book.description.truncate_words(25) %></h2>
            <button class="w-full m-8 px-8 py-2 rounded text-indigo-600 bold bg-white mx-auto border-solid border-2 border-indigo-600" id="create_button"><%=link_to "Get this book!", new_book_path %></button>
          </div>
        </div>
        <% end %>
      </div>
  </div>

  <h2 class="text-3xl my-8">Books I have owned (<%= @my_previously_owned_books_count %>)</h2>
  <div class="my-16">
     <div class="mx-auto py-8 w-4/5">
      <div class="grid grid-cols-3 gap-4 md:grid-cols-2">
        <% @my_previously_owned_books.each do |book| %>
        <div class="flex mx-auto">
          <div class="w-1/2 flex ">
            <img class='w-full align-middle object-fit' src="<%= book.cover %>" alt="book cover">
          </div>
          <div class=" w-1/2 my-auto mx-4 leading-tight md:p-4">
            <h2 class="text-gray-600"><%=book.author %></h2>
            <h1 class="text-2xl bold-700"><%=link_to book.title, book_path(book) %></h1>
            <%# <h2 class="text-xl bold"><%=book.average_rating %></h2>
            <h2 class="text-gray-600 py-4"><%=book.description.truncate_words(25) %></h2>
            <button class="w-full m-8 px-8 py-2 rounded text-indigo-600 bold bg-white mx-auto border-solid border-2 border-indigo-600" id="create_button"><%=link_to "Get this book!", new_book_path %></button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
