<div data-controller="books" class="index-container my-12 mx-auto px-4 md:px-12 bg-white">
  <div class="w-1/2 mx-auto">
    <%= form_with url: books_path, method: :get, html: { class:
        'mb-4', data: { books_target: 'form' } } do |f| %>
      <%= f.text_field :query,
        class: "form-control",
        placeholder: 'Find a book',
        value: params[:query],
        data: {
          books_target: 'input',
          action: 'keyup->books#search'
        }
      %>
    <% end %>
  </div>
  <div class="flex my-16">
    <div class="info w-1/5 text-lg bg-white">
      <button class="flex justify-center m-8 px-8 py-2 rounded text-white bold bg-indigo-400 mx-auto" id="create_button"><%=link_to "Add a Book", new_book_path %></button>
      <div class="m-8 py-8">
        <h1 class='text-xl my-4'>Categories</h1>
        <ul><% %>
          <li> <%= link_to "All books", books_path, data: {action: "click->books#fetchBooks"} %></li>
          <li> <%= link_to "Fiction", books_path(category: "Fiction") %></li>
          <li> <%= link_to "Cooking", books_path(category: "Cooking") %> </li>
          <li> <%= link_to "Biography", books_path(category: "Biography") %> </li>
          <li> <%= link_to "Horror", books_path(category: "B") %> </li>
          <li> <%= link_to "Comics", books_path(category: "Biography") %> </li>
          <li> <%= link_to "History", books_path(category: "Biography") %> </li>
        </ul>
      </div>
      <div class="m-8 py-8">
        <h1 class='text-xl my-4'>Rating</h1>
        <ul>
          <li><%= link_to "5 stars", books_path(credit_worth: "5") %></li>
          <li><%= link_to "4 stars", books_path(ccredit_worth: "4") %></li>
          <li><%= link_to "3 stars", books_path(credit_worth: "3") %></li>
          <li><%= link_to "2 stars", books_path(credit_worth: "2") %></li>
          <li><%= link_to "1 stars", books_path(credit_worth: "1") %></li>
        </ul>
      </div>
    </div>

    <div class="w-4/5 px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-12 lg:px-8 lg:py-20">

      <%= render partial: 'results', locals: { book: @books } %>
      <div class="grid gap-8 xl:grid-cols-3 mx-0 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
        <% @books.each_with_index do |book, index| %>
        <div class="flex justify-center">
          <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
            <img type="button"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light" class="w-2/5 h-96 md:h-auto object-fit md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg sm: w-full" src="<%= book.cover %>" alt="book cover">
            <div class="w-3/5 p-6 flex flex-col justify-start md: w-full">
              <p class="text-gray-700 text-sm mb-4"><%=book.author %></p>
              <h1 class="overflow-hidden h-16 hover:overflow-scroll text-gray-900 text-2xl font-medium mb-2 "><%=link_to book.title, book_path(book) %></h1>
              <p class="text-gray-600 text-xs"><%=book.credit_worth %></p>
              <%# <img src=<%= book %>
              <% unless current_user.address.nil? %>
                <% if @index_distances[index] > 1 %>
                  <p class="text-gray-600 text-xs"> <%= @index_distances[index] %> km</p>
                  <% else %>
                  <p class="text-gray-600 text-xs"> < 1 km</p>
                  <% end %>
                <% end %>
              <div class="flex space-x-2 justify-center">
                <button
                  type="button"
                  data-mdb-ripple="true"
                  data-mdb-ripple-color="light"
                  class="inline-block px-6 py-2.5 my-4 text-indigo-400 bg-white border border-indigo-400 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-indigo-400 hover:text-white hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"><%=link_to "Get this book!", new_book_swap_path(book) %>
                </button>
              </div>
            </div>
            </div>
        </div>

        <% end %>
      </div>
    </div>

  </div>
</div>
