<div class="w-1/3 mx-auto ">
    <h1 class='text-center my-8 align-center'>Add your Book</h1>
  <div class="w-full">
    <%= simple_form_for @book do |f| %>
      <%= f.input :title %>
      <%= f.input :author %>
      <%= f.input :year, as: :date, html5: true%>
      <%= f.input :location %>
      <%= f.input :description %>
      <%= f.input :condition %>
      <%= f.input :cover, as: :file %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
© 2022 BookBox
