<div class="w-1/3 mx-auto min-h-96">
    <h1 class='text-3xl text-center my-8 align-center'>Let's add your Book to BookBox!</h1>
  <div class="w-1/3">
    <%= simple_form_for @book do |f| %>
      <%= f.input :isbn %>
      <%= f.input :condition %>
      <%= f.input :displayed %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
