<div class="w-1/3 mx-auto ">
    <h1 class='text-center my-8 align-center'>Add a Review</h1>
  <div class="w-full">
    <%= simple_form_for([@book,@review]) do |f| %>
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.input :stars %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
